/*-----------------全体-----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}
a{
	text-decoration: none;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*-----------------重ねあわせ-----------------*/

.box1{
	width: 100%;
	height: 400px;
	padding: 100px 0 100px 0;
	background-color: #FFFFEE;
}

/*positionで左から２５％にしてボックス自体の大きさを５０％にすると
中心にいい感じにできる。z-indexの利用｜２５％｜５０％｜残り｜みたいにする
ことでバランスよく*/

.coffee{
	height: 360px;
	width: 48%;
	position: absolute;
	top:20px;
	right:20px;
	z-index: 1;
	background-image: url(coffee.jpg);
	background-size: cover;
	background-position: center;
}
.box4{
	margin:0 auto;
	padding:0 10px 0;
	width: 50%;
	border-left: solid 2px navy;
	position: absolute;
	top:100px;
	left:25%;
	font-size: 10px;
	z-index: 2;
}

/*---------------カリキュラム----------------*/
header{
	width: 90%;
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
header .headline{
	font-size: 32px;
}
.nav-list{
	text-align: center;
	padding: 10px 0;
	margin:0 auto;
}
.nav-list-item{
	list-style: none;
	display:inline-block;
	margin:0 20px;
}

.main-visual{
	width: 100%;
	height: 300px;
	background-image: url(img/mv.jpg);
	background-size: cover;
	background-position: center;
}
.main-visual-content{
	width: 40%;
	height: 300px;
	background-color: rgba( 0, 0, 0, 0.5);
	text-align: center; /* 文字を中央揃えにする */
  	padding-top: 105px;
}
.main-visual-text{
	color: #fff;
}
.main-visual-name{
	margin-top:30px;
	color: #fff;
}

.main{
	width: 840px;
	background-color: green;
	margin:0 auto;
}
.blog{
	width: 600px;
	height: 1400px;
	background-color: limegreen;
	float: left;
}
.sidebar{
	width: 240px;
	height: 1400px;
	background-color: palegreen;
	float: left;
}

footer{
	width: 100%;
	height: 120px;
	text-align: center;
	line-height: 120px;
	background-color: #848282;
}
.footer-text{
	color: #fff;
}
















