/*-----------------全体-----------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

/*-----------------重ねあわせ-----------------*/

.box1{
	width: 100%;
	height: 400px;
	padding: 100px 0 200px 0;
	background-color: #FFFFEE;
}

/*positionで左から２５％にしてボックス自体の大きさを５０％にすると
中心にいい感じにできる。z-indexの利用｜２５％｜５０％｜残り｜みたいにする
ことでバランスよく*/

.coffee{
	height: 360px;
	width: 48%;
	position: absolute;
	top:20px;
	right:20px;
	z-index: 1;
}
.box4{
	margin:0 auto;
	padding:0 10px 0;
	width: 50%;
	height: 100px;
	border-left: solid 2px navy;
	position: absolute;

	top:100px;
	left:25%;
	bottom:200px;
	font-size: 10px;
	z-index: 2;
}

/*---------------カリキュラム----------------*/
.header{
	width: 100%;
	height: 120px;
	background-color: red;
}
.main-visual{
	width: 100%;
	height: 300px;
	background-color: orange;
}
.main{
	width: 100%;
	height: 1400px;
	background-color: green;
}

















